@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;

}

.container{
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding: 40px 20px;
    background-image: linear-gradient(rgba(124, 182, 236, 0.436),rgba(23, 170, 233, 0.9)),url(res-images/back-ground.jpg);
    background-position: center;
    background-size: cover;
}

.container .search-box{
    position: relative;
    height: 42px;
    max-width: 400px;
    background-color: green;
    margin: 0 auto;
    margin-bottom:40px ;
}

.search-box input{
    position: absolute;
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    background-color: #323334;
    padding: 0 15px 0 45px;
    color: #fff;
    border-radius: 6px;
}

.search-box i{
    position: absolute;
    z-index: 2;
    color: #999;
    top: 30%;
    left: 20px;
    font-size: 20px;
    transform: translate(-50%);
}

.container .images .image-box{
    position: relative;
    height: 250px;
    width: 250px;
    border-radius: 8px;
    overflow: hidden;

}
.images{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.images .image-box{
    margin: 10px;
}

.images .image-box img{
    height: 100%;
    width: 200px;
    border-radius: 8px;
    transition: transform 0.2s linear;
}

.image-box:hover img{
    transform: scale(1.05);
}
.container .images h3{
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: #fff;
    font-size: 12px;
    font-weight: 400;
    text-transform: capitalize;
}
